DAW
EMPR
IA
IoT
MI
#ApiEpico
proyects\desarrolloAppsWeb\ApiEpico\apiRestfull\node_modules

#clases

#api_veterinaria:
proyects\desarrolloAppsWeb\clases\api_veterinaria\node_modules
proyects\desarrolloAppsWeb\clases\api_veterinaria\.env

#API-RESTFUL-GR1:
proyects\desarrolloAppsWeb\clases\API-RESTFUL-GR1\node_modules
proyects\desarrolloAppsWeb\clases\API-RESTFUL-GR1\.env

#backend:
proyects\desarrolloAppsWeb\clases\backend\node_modules

#MarvelApi:
proyects\desarrolloAppsWeb\MarvelApi\api-data.js